<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<section class="bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div style="text-align: center" class="form-outline mb-4"><h2>Đăng ký</h2></div>
                            <form th:object="${userDto}" action="/save" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="firstName">Họ</label>
                                    <input required th:field="*{firstName}" type="text"  name="firstName" id="firstName" class="form-control form-control-lg"/>
                                    <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="lastName">Tên</label>
                                    <input required th:field="*{lastName}" type="text"  name="lastName" id="lastName" class="form-control form-control-lg"/>
                                    <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="age">Tuổi</label>
                                    <input required th:field="*{age}" type="number" name="age" id="age" class="form-control form-control-lg" />
                                    <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="phoneNumber">Số điện thoại</label>
                                    <input required th:field="*{phoneNumber}" type="text" name="phoneNumber" id="phoneNumber" class="form-control form-control-lg" />
                                    <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input required th:field="*{email}" type="text" name="email" id="email" class="form-control form-control-lg" />
                                    <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <button style="margin-left: 110px;padding: 15px;border: none;border-radius: 35px;width: 50%;" id="submitButton" type="submit">
                                        Hoàn thành
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>