<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="
width: 1000px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)">
<h1>Thân gửi: #</h1>
<p>DATSAN xin xác nhận bạn đã đặt sân thành công.Thông tin sân như sau:</p>
<ul>
    <li>Tên sân: #</li>
    <li>Địa chỉ: #</li>
    <li>Ngày: #</li>
    <li>Giờ: #</li>
    <li>Đã cọc: #</li>
</ul>
<p>Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ tại DATSAN!</p>
</body>
</html>