<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!--BootStraps 5.0.2-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Box Icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: linear-gradient(-135deg, #e1d6d6, #ffffff) center / cover;
    }
</style>
<body>
<div th:if="${message}">
    <span th:text="${message}" id="success" style="display: none"></span>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let fail = document.getElementById("success").innerText;
        console.log(fail)
        Swal.fire({
            title: fail,
            icon: 'success',
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false
        });
    });
</script>
<!--Header Start-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light m-0" id="ftco-navbar"
     style="top: 0px">
    <div class="container">
        <a class="navbar-brand" style="color: #14a155">Dat<span>San</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Trang Chủ</a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    class="nav-item"><a th:text="'Sân'" href="/yards/list" class="nav-link"></a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    class="nav-item"><a th:text="'Khung thời gian'" href="/times/" class="nav-link"></a></li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'')')}"
                    class="nav-item"><a th:text="'Khách hàng'" href="/customers/" class="nav-link"></a></li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'')')}"
                    class="nav-item"><a th:text="'Hợp đồng'" href="/bookings/" class="nav-link"></a></li>
                <li class="nav-item"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER'')') and not #authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'')')}">
                    <a href="/yards/" th:text="'Đặt sân'" class="nav-link"></a>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                    class="nav-item"><a th:text="'Nhân viên'" href="/employee/" class="nav-link"></a></li>
                <li class="nav-item"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER'')') and not #authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'')')}">
                    <a href="/accountInfo" th:text="${#request.userPrincipal.name}" class="nav-link"></a>
                </li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'',''ROLE_USER'')')}"
                    class="nav-item"><a th:text="'Đăng xuất'" href="/logout" class="nav-link"></a></li>
                <li th:unless="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_EMPLOYEE'',''ROLE_USER'')')}"
                    class="nav-item"><a th:text="'Đăng nhập'" href="/login" class="nav-link"></a></li>
            </ul>
        </div>
    </div>
</nav>
<!--Header End-->
<div>
    <div style="text-align: center">
        <h2 class="st-events__title " style="color: black;padding-top: 10px">TÌM KIẾM SÂN CHƠI
            CỦA BẠN</h2>
        <small style="color: black">Tìm kiếm sân chơi bóng đá và sân thi đấu khắp thành phố Đà Nẵng</small>
    </div>
    <!--main start-->
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="">
                    <form action="/yards">


                        <select class="form-select" id="inputGroupSelect01" name="nameSearch" style="text-align: center">
                            <option selected="" value="">Quận/Huyện</option>
                            <option value="lien chieu">Liên Chiểu</option>
                            <option value="hoa vang">Hòa Vang</option>
                            <option value="hai chau">Hải Châu</option>
                            <option value="thanh khe">Thanh Khê</option>
                            <option value="ngu hanh son">Ngũ Hành Sơn</option>
                            <option value="son tra">Sơn Trà</option>
                            <option value="cam le">Cẩm Lệ</option>
                        </select>
<!--                        <div class="form-group" style="margin-bottom: 2px ;display: flex;justify-content: center; margin-top: 1rem">-->
<!--                            <button class="btn mb-3" style="background-color: #36b3a8;color: white; border-radius: 10px; font-size: large;font-weight: bold">-->
<!--                                Tìm kiếm sân bóng-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <form style="display: flex;justify-content: center;padding: 1rem; align-items: center" class="row g-3" action="/yards/searchByDate" method="get">-->
                        <div style="/* padding: 1rem; */text-align: center;margin-top: 0px;">
                            <input type="date" name="dateSearch" style=" width: 100%;padding: 0.4rem;border-radius: 6px; border: solid 1px grey;margin-bottom: 5px;">
                            <input type="hidden" th:value="${error}" id="error">
                            <button class="btn mb-3" style="background-color: #36b3a8;margin-top: 10px;color: white;border-radius: 10px;font-size: large;font-weight: bold">
                                Tìm kiếm sân bóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--            end-->
        </div>
    </div>
</div>

<div>
    <div style="display: grid;grid-template-columns: repeat(4 , 1fr); gap: 2rem; padding: 1rem">
        <div th:each="yard :${yardPage}"
             style="font-family: Roboto, sans-serif; border-radius: 25px;">
            <div class="card text-secondary bg-light mb-3" style="width: 100%;">
                <div id="image-preview-container2" class="card" style="width: 100% ">
                    <img style="margin: 2%; width: 96% ; height: 17rem" th:src="${yard.image}"
                         alt="Avatar's customer">
                    <input type="hidden" th:value="${yard.image}">
                </div>
                <div class="card-body">
                    <h3 th:text="${#strings.length(yard.name) > 12 ? #strings.substring(yard.name, 0, 12) + '...' : yard.name}"></h3>
                    <br>
                    Giá: chỉ từ <span
                        th:text="${#numbers.formatDecimal(yard.price, 0, 'COMMA', 0, 'POINT')}" style="color: #dc3545"></span>
                    VND/Giờ<br>
                    <span style="font-size: x-small;">Địa chỉ:<span
                            th:text="${#strings.length(yard.address) > 40 ? #strings.substring(yard.address, 0, 40) + '...' : yard.address}"
                            class="text-limit"></span></span><br>
                    <a th:href="@{/bookings/create/__${#request.userPrincipal.name}__/__${yard.id}__/__${dateSearch}__}">
                        <button class="btn text-dark fw-bold btn-warning
                                 mt-3" style="position: relative;left: 50%;width: 50%;">Đặt Sân
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hi" style="display: flex;justify-content: center;align-items: center">
    <a th:if="${yardPage.hasPrevious()}" th:href="@{/yards/(page=${yardPage.number-1})}">

        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <span th:text="${yardPage.number+1}"></span>/
    <span th:text="${yardPage.totalPages}"></span>
    <a th:if="${yardPage.hasNext()}" th:href="@{/yards/(page=${yardPage.number+1})}">
        <i class="fa-solid fa-arrow-right"></i>
    </a><br></div>
<!--main end-->
</div>


<!--footer start-->
<footer class="ftco-footer bg-dark ftco-section mt-5" style="padding: 1px">
    <div class="container" >
        <div class="col-md-12" style="text-align: center;color: white; ">
            <div class="mt-3" style="padding-top: 10px">
                <a href="/main" style="text-decoration: none; color: white; margin-left: 30px">Giới thiệu</a>
                <a href="/main" style="text-decoration: none; color: white; margin-right: 20px;margin-left: 20px">Điều
                    khoản sử dụng</a>
                <a href="/main" style="text-decoration: none; color: white;">Chính sách bảo mật</a>
            </div>
        </div>
        <div class="col-md-12 mt-3" style="text-align: center">
            <i class='bx bxl-meta bx-lg' style='color:#6383ef'></i>
            <i class='bx bxl-gmail bx-lg' style='color:#6383ef'></i>
        </div>
        <div class="col-md-12 text-center mt-3">
            <p style="color: white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>
<!--footer end-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    function limitFiles(input, maxFiles) {
        if (input.files.length > maxFiles) {
            alert(`Chỉ được chọn đúng ${maxFiles} tệp.`);
            input.value = ""; // Xóa tệp đã chọn nếu vượt quá giới hạn
        }
    }

    document.getElementById("upload-file").addEventListener("change", function (e) {
        const container = document.getElementById("image-preview-container2");
        container.innerHTML = "";
        const maxFiles = 1;
        const files = e.target.files;
        if (files.length !== maxFiles) {
            alert(`Bạn phải chọn đúng ${maxFiles} tệp.`);
            e.target.value = "";
            return;
        }
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const img = document.createElement("img");
            img.src = URL.createObjectURL(file);
            img.style.width = "10rem"
            img.style.height = "10rem"
            img.style.margin = "7px";
            container.appendChild(img);
        }
    });
</script>

<script>
    let error = document.getElementById("error").value;
    if (error) {
        Swal.fire({
            icon: 'warning',
            title: 'Nhập ngày quá khứ rồi!',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/yards/';
            }
        });
    }
</script>
<script type="module" src="/js/upload-lam.js"></script>
<script type="module" src="/js/configulation.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
</body>
</html>